@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome From Student Registration</h1>
    <h3>Please Login First!!</h3>
    <h3>If you don't have an account.Please Register First!!!!</h3>
    <img src="~/images/registration.jpg" alt="Example Image" width="80%" height="auto" />
</div>
